/* ----STYLES---- */
.bg-Black {
  background-color: #000000;
}
.bg-White {
  background-color: #ffffff;
}
.bg-GreenBlue {
  background-color: #21edce;
}

/* ----GENERAL---- */
html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 40px;
  color: #ffffff;
  font-style: italic;
}
h2 {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 24px;
  color: #000000;
  font-style: italic;
}
h3 {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 16px;
  color: #21edce;
  text-decoration: underline;
  font-style: italic;
}

p {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 16px;
}

/* ----FONT-FACES---- */

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-BoldCn";
  src: url(../fonts/AvenirNextLTPro-BoldCn.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-DemiCn";
  src: url(../fonts/AvenirNextLTPro-DemiCn.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-It";
  src: url(../fonts/AvenirNextLTPro-It.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
/* -----HEADER----- */
.navbar-brand {
  font-family: "AvenirNextLTPro-Bold" !important;
  font-size: 48px !important;
  color: #21edce !important;
}
.picto {
  font-size: 20px;
}
.app {
  color: #b2b2b2;
}
.button {
  background-color: #000000;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
}
/* ----MENU---- */
.main-menu {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
.nav-open .main-menu {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.92);
}
.main-menu .nav li a {
  font-family: "AvenirNextLTPro-Bold" !important;
  font-style: italic;
  font-size: 48px;
  color: #ffffff;
}
.main-menu .nav li a:hover {
  color: #21edce;
  text-decoration: none;
}
.main-menu .nav li {
  opacity: 0;
  list-style: none;
  text-align: center;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  -moz-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  -o-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
}
.nav-open .main-menu .nav li {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
/* NAV BUTTON */
.nav-button {
  position: relative;
  z-index: 1111;
  height: 42px;
  display: block;
  width: 50px;
  padding: 12px;
}
.nav-button #nav-icon3 {
  width: 24px;
  height: 22px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav-button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-button #nav-icon3 span:nth-child(1) {
  top: 0;
}
.nav-button #nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 7px;
}
.nav-button #nav-icon3 span:nth-child(4) {
  top: 14px;
}
.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%;
}
.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%;
}
.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
/* ----HOMEPAGE---- */

/* MAIN ARTICLE */
.main-article {
  position: fixed;
  width: 50%;
}
#main-img {
  width: 85%;
}
.title-article {
  margin-top: -180px !important;
}
.title-article p {
  color: #ffffff;
}
/* NEWSLETTER SECTION */
.newsletter {
  width: 200% !important;
  position: absolute;
  right: 1em;
}
.button2 {
  border: 2px solid #000000;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 102px;
  padding-left: 102px;
  color: #ffffff;
}
hr {
  width: 5%;
  color: #ffffff !important;
}
.newsletter i {
  color: #ffffff !important;
}

/* FOLLOWING ARTICLES */
.following {
  margin-top: 300px !important;
}
