/* ----STYLES---- */
.bg-Black {
  background-color: #000000;
}
.bg-White {
  background-color: #ffffff;
}
.bg-GreenBlue {
  background-color: #21edce;
}

/* ----GENERAL---- */
html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 40px;
  color: #ffffff;
  font-style: italic;
}
h2 {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 24px;
  color: #000000;
  font-style: italic;
}
h3 {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 16px;
  color: #21edce;
  text-decoration: underline;
  font-style: italic;
}

p {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 16px;
}

/* ----FONT-FACES---- */

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-BoldCn";
  src: url(../fonts/AvenirNextLTPro-BoldCn.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-DemiCn";
  src: url(../fonts/AvenirNextLTPro-DemiCn.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-It";
  src: url(../fonts/AvenirNextLTPro-It.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
/* HEADER */
.navbar-brand {
  font-family: "AvenirNextLTPro-Bold" !important;
  font-size: 48px !important;
  color: #21edce !important;
}
.picto {
  font-size: 20px;
}
.app {
  color: #b2b2b2;
}
.button {
  background-color: #000000;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
}

/* ----HOMEPAGE---- */

/* MAIN ARTICLE */
.main-article {
  position: fixed;
  width: 50%;
}
#main-img {
  width: 85%;
}
.title-article {
  margin-top: -180px !important;
}
.title-article p {
  color: #ffffff;
}
/* NEWSLETTER SECTION */
.newsletter {
  width: 200% !important;
  position: absolute;
  right: 0;
}
.button2 {
  border: 2px solid #000000;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 102px;
  padding-left: 102px;
  color: #ffffff;
}
hr {
  width: 5%;
  color: #ffffff !important;
}
.newsletter i {
  color: #ffffff !important;
}

/* FOLLOWING ARTICLES */
.following {
  margin-top: 300px !important;
}
